body {
    background-image: url("../images/canvases_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-body{
    margin: 40px 0 80px 0;
    /*min-height: 450px;*/
    border: 1px solid #1a202c;
}

footer{
    background-color: #2d3748;
    padding: 50px;
    color: #fff;
    min-height: 350px;
}

.footer-menu a {
    color: #fff;
}

h3#canvas-title {
    color: #bd1919;
}
